@tailwind base;
@tailwind components;
@tailwind utilities;

.circle_marks {
    fill: red;
    opacity: 0.2;
    border: 1px; 
    stroke: #460000;
    stroke-width: 1px;
    stroke-linejoin: round;
}