<div class ="w-full h-full"> 
    <svg id="health_circle_chart" class=" border-red-100" >
    </svg>
    <button id="listenbutton"> ${year} </button>

    <div class="w-3/4 flex flex-row text-center" id="slide_mouse"> 
        <div class="bg-blue-300 w-1/5 pointer-events-none items-center"> 2018 </div>
        <div class="bg-blue-400 w-1/5 pointer-events-none items-center"> 2019 </div>
        <div class="bg-blue-500 w-1/5 pointer-events-none items-center"> 2020 </div>
        <div class="bg-blue-600 w-1/5 pointer-events-none items-center"> 2021 </div>
        <div class="bg-blue-700 w-1/5 pointer-events-none items-center"> 2022 </div>

    </div>
</div>