<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
       initial-scale=1.0">
    <title>Tailwind CSS Example</title>
    <link href="./static/dist/css/output.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/d3@7" defer></script>
    <script src="/static/src/js/circle_chart.js" type="module" defer></script>
    <script src="/static/src/js/scatter_chart.js" type="module" defer></script>
    <script src="/static/src/js/select_prov_health.js" defer></script>
</head>
<div hx-boost class="h-screen flex flex-col justify-start">
    {% include 'vizbody.html' %}
</div>

<!-- <script type="module" src="static/dist/js/bundle.js"></script> -->