<div class="bg-green-200 h-full p-10 flex flex-col justify-start">
    <div class="h-1/2 flex flex-row justify start space-x-4 mb-5">
        <div id="chart1" class="bg-red-200 w-3/4"> 1 </div>
        <div class="bg-purple-200 w-1/4"> 2 </div>
    </div>

    <div class="h-1/2 flex flex-row justify start space-x-4 mb-5">
        <div class="bg-orange-200 w-1/4"> 3 </div>
        <div class="bg-cyan-200 w-3/4"> 4 </div>
    </div>
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    console.log("Hello from vizbody.js");
    console.log(d3);

    d3.csv("/data/TEST_DATA.csv").then(function(data) {
        d3.select("#chart1")
            .selectAll("p")
            .data(data)
            .enter()
            .append("p")
            .text(function(d) {
                if (d.Year === "2020" && d.Geography === "British Columbia") {
                    return "Food Secuirty Status" + d["Household food security status"] + ". Percentage of population: " + d["Percent of all population"] + "%";
                }
            });
    });
</script>
